.description, .download-button, .dialog, .light-mode-buttons button {
    color:rgb(93, 93, 93);
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    white-space: nowrap;
    transition: ease 0.2s;
}


.image-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.7vw;
    margin-left: 380px;
    margin-top: 50px;
}

.image-link {
    position: relative;
    display: block;
}

.image-link::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    z-index: 1;
    content: url("../../images/add.png");
}

.image-link:hover::before {
    opacity: 0.85;
}

.image-link img {
    transition: 0.15s ease-in-out;

}

.download-button {
    width: 23px;
    height: 21px;
    right: 3.5vw;
    top: 1vw;
    position: absolute;
    filter: grayscale(1);
    transition: ease-in-out 0.1s;
    border-radius: 0;
}

.download-button:hover {
    filter: grayscale(0);
}

.share-button {
    width: 21px;
    height: 21px;
    right: 6vw;
    top: 1vw;
    position: absolute;
    filter: grayscale(1);
    transition: ease-in-out 0.1s;
    border-radius: 0;
}

.share-button:hover {
    filter: grayscale(0);
}
