.next, .prev, .light-mode-buttons button {
    color:rgb(93, 93, 93);
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    white-space: nowrap;
    transition: ease 0.2s;
}

* {
    box-sizing:border-box
}

.slideshow-container {
    max-width: 66vw;
    position: relative;
    margin-top: 50px;
    margin-left: 380px;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 20px;
    margin-left: 60px;
    margin-bottom: 75px;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev:hover, .next:hover {
    color: var(--highlight-color);
}

.next {
    right: unset;
    left: 50px;
    border-radius: 3px 0 0 3px;
    padding-left: 5px;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.light-mode {
    --background-color: white;
    --highlight-color: black;
}

.light-mode-buttons {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 20px;
    margin-left: 53px;
    margin-bottom: 40px;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    display: flex;
    flex-direction: row;
}

.light-mode-buttons button {
    background: none;
    border: none;
}

.light-mode-buttons button:hover {
    color: var(--highlight-color);
}
